.controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  height: 100%;
  text-align: center;
  pointer-events: none;
  visibility: hidden;
}

.control {
  position: absolute;
  top: 0;
  height: 100%;
  cursor: pointer;
  pointer-events: auto;
  visibility: visible;
}
.control:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  top: 50%;
  font-family: 'FontAwesome';
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.prev {
  left: 0;
}
.prev:before {
  content: '\f104';
}

.next {
  right: 0;
}
.next:before {
  content: '\f105';
}

.pagination {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  text-align: center;
}
.pagination span {
  display: inline-block;
  cursor: pointer;
  border-radius: 100%;
}
.pagination span.active {
  pointer-events: none;
}

.baby {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
}

.baby-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 0.3s, visibility 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}
.baby-item.active ~ * {
  -webkit-transform: translate(200%, 0);
          transform: translate(200%, 0);
}
.baby-item.active + * {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}
.baby-item.active {
  position: relative;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.control {
  width: 15%;
  font-size: 3.5em;
}

.pagination {
  text-align: center;
}
.pagination span {
  height: 1em;
  width: 1em;
  margin: 2% 1%;
  background: rgba(255, 255, 255, 0.5);
}
.pagination span:hover {
  background: rgba(255, 255, 255, 0.75);
}
.pagination span.active {
  background: rgba(0, 0, 0, 0.5);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
}

*:before,
*:after {
  pointer-events: none;
}

html {
  overflow-x: hidden;
  font-family: 'Oswald';

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.center-simple {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 15%;
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
    margin: auto;
}

.baby-item {
  height: 100vh;
}
.baby-item:before {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 16vmin;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.baby-item:nth-child(1) {
  background: #153B50;
}
.baby-item:nth-child(1):before {
  content: "1";
}
.baby-item:nth-child(2) {
  background: #153B50;
}
.baby-item:nth-child(2):before {
  content: "2";
}
.baby-item:nth-child(3) {
  background: #153B50;
}
.baby-item:nth-child(3):before {
  content: "3";
}
.baby-item:nth-child(4) {
  background: #153B50;
}
.baby-item:nth-child(4):before {
  content: "4";
}


.full {
  position: absolute;
  width: 80%;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
}

.zoom {
  -webkit-animation: scale 40s linear infinite;
          animation: scale 40s linear infinite;
}

@-webkit-keyframes scale {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes scale {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
